body {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.block {
    width: 250px;
    height: 250px;
    
    border: 1px solid black;
    border-radius: 7px;
    
    text-align: center;
    background-color: rgb(132, 132, 132);
    
    
}
h2{
    color: gainsboro;
    border-bottom: 1px solid gainsboro;
    border-radius: 7px 7px 0px 0px;
    background-color: rgb(86, 86, 86);
    padding: 10px;
    margin-top: 0;
}

.acao {
    border-radius: 7px;
    border: 0px solid;
    color: rgb(62, 62, 62);
}